<div class="container">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">{{ appointment.subject }}</h3>
        </div>
        <div class="panel-body">
            <p><b><span class="fa fa-eye"></span> Purpose:</b> {{ appointment.purpose }}</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><label><span class="fa fa-calendar"></span> Date:</label> {{ date }}</li>
            <li class="list-group-item"><label><span class="fa fa-clock-o"></span> Time:</label> {{ start }} - {{ end }}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item"><span class="fa fa-list-alt"></span> <label>Agendas:</label></li>
            <li class="list-group-item" ng-repeat="agenda in agendas"><span class="fa fa-square-o"></span> {{ agenda.description }}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item"><label><span class="fa fa-group"></span> Meeting Personnel:</label></li>
            <li class="list-group-item" ng-repeat="emp in employees">{{ emp.first_name }} {{ emp.last_name }}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item"><label><span class="fa fa-building-o"></span> Departments:</label></li>
            <li class="list-group-item" ng-repeat="dept in departments">{{ dept.name }}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item"><label><span class="fa fa-user"></span> Appointment set by:</label> {{ appointment.employee.first_name }} {{ appointment.employee.last_name }}</li>
        </ul>
    </div>
    <a ng-if="appointment.employee_id === user.id" class="pull-right btn btn-primary" href="#/scheduler/appointment/{{appointment.id}}/edit"><span class="panel-title fa fa-edit"></span> Edit</a>
</div>