<div class="container">
    <div class="col-sm-4">
        <h3>Approved Appointments</h3>
        <p ng-if="approvedCount <= 0"><i>No approved appointments.</i></p>
        <div class="panel panel-default" ng-repeat="invitation in approvedAppointments">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ invitation.set_date | date : 'MMMM d, yyyy' }}
                </div>
            </div>
            <div class="panel-body">
                <p><label>Subject:</label> {{ invitation.subject }}</p>
                <p><label>Time:</label> {{ formatTime(invitation.start_time) | date : 'HH:mm a' : 'UTC+08:00' }} - {{ formatTime(invitation.end_time) | date : 'HH:mm a' : 'UTC+08:00' }}</p>
                <p><label>Venue:</label> {{ invitation.venue }}</p>
                <p><label>Set by:</label> {{ invitation.employee.first_name }} {{ invitation.employee.last_name }}</p>
                <p><a href="#/scheduler/appointment/{{invitation.id}}/details">See Details >></a></p>
                <button class="btn btn-danger text-center col-xs-12 btn-confirm" ng-click="cancelAppointment(invitation)"><span class="fa fa-remove"></span> Cancel Appointment</button>
            </div>
        </div>
    </div>
</div>
