<div class="container">
    <div class="col-sm-4">
        <h3>Scheduled Appointments</h3>
        <p ng-if="scheduledCount <= 0"><i>No appointment has been scheduled yet.</i></p>
        <div class="panel panel-default" ng-repeat="schedule in scheduledAppointments">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ schedule.set_date | date : 'MMMM d, yyyy' }}
                </div>
            </div>
            <div class="panel-body">
                <p><label>Subject:</label> {{ schedule.subject }}</p>
                <p><label>Time:</label> {{ formatTime(schedule.start_time) | date : 'HH:mm a' : 'UTC+08:00' }} - {{ formatTime(schedule.end_time) | date : 'HH:mm a' : 'UTC+08:00' }}</p>
                <p><label>Venue:</label> {{ schedule.venue }}</p>
                <p><label>Set by:</label> {{ schedule.employee.first_name }} {{ schedule.employee.last_name }}</p>
                <p><a href="#/scheduler/appointment/{{schedule.id}}/details">See Details >></a></p>
                <button class="btn btn-danger text-center col-xs-12 btn-confirm" ng-click="cancelAppointment(schedule)"><span class="fa fa-remove"></span> Cancel Appointment</button>
            </div>
        </div>
    </div>
</div>
